body {
    background-color: rgb(235, 231, 227);
}

hr {
    border: 1px dashed #222222;
}

.content {
    display: block;
    margin: 1% 20% 1% 20%;
    color: #222222;
}

.menu { 
    padding: 0; 
}
.menu ul {
    padding-inline-start: 0px;
}
.menu li { 
    display: inline-block;
    margin-left: 0px;
}
.menu a {
    text-decoration: none;
    background: #222222;
    color: #fff;
    padding: 5px 10px 5px 10px;
  }

.breadcrumb ol {
    padding-left: 0;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li:not(:last-child)::after {
    content: "»";
}